<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="webAutomation.entrata1.LandingTest"/>
      <class name="webAutomation.entrata1.ProductTest"/>
      <class name="webAutomation.entrata1.BaseTest"/>
      <class name="webAutomation.entrata1.ResourceTest"/>
      <class name="webAutomation.entrata1.FormTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
